<form [formGroup]="formulaire" (ngSubmit)="valider()">

  <!-- Titre dialog -->
  <h2 mat-dialog-title>Formulaire techno</h2>

  <!-- Corps dialog -->
  <mat-dialog-content>
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Nom</mat-label>
      <input matInput placeholder="Nom" formControlName="name">
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>
        Description
      </mat-label>
      <input matInput placeholder="Description" formControlName="description">
    </mat-form-field>

    <br>

    <div>
      <ngx-star-rating formControlName="rate" [id]="'rating'" [disabled]="false"></ngx-star-rating>
    </div>

  </mat-dialog-content>

  <!-- Actions dialog -->
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-raised-button color="primary" type="submit">Valider</button>
  </mat-dialog-actions>

</form>
