<!-- {{techno | async | json}} -->


<div style="padding: 5%;">
  <button mat-raised-button color="primary" (click)="ajouter()">Nouveau</button>

  <a style="float:right;" href="/connexion">
    <button mat-raised-button color="primary" >login</button>
  </a>

  <div style="padding: 5%;">
    <table mat-table [dataSource]="techno | async" class="mat-elevation-z8" style="width: 100%;">

      <!-- Affichage de la colonne Nom -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let element"><b> {{element.name}} </b></td>
      </ng-container>
      
      <!-- Affichage de la colonne Description -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- Affichage de la note -->
      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef> Note </th>
        <!-- <td mat-cell *matCellDef="let element"> {{element.rate}} </td> -->
        <td mat-cell *matCellDef="let element">
          <ngx-star-rating [(ngModel)] ="element.rate" [disabled]="true" style="float: left;"></ngx-star-rating>
        </td>
      </ng-container>

      <!-- Affichage de la colonne Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="modifier(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="supprimer(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Déclaration de la ligne d'entete composée des colonnes à afficher -->
      <tr mat-header-row *matHeaderRowDef="['name', 'description', 'rate', 'actions']"></tr>

      <!-- Déclaration des lignes composée des colonnes à afficher -->
      <tr mat-row *matRowDef="let row; columns: ['name', 'description', 'rate', 'actions'];"></tr>
    </table>
  </div>
</div>
